map $sent_http_content_type $expires {
    default                    off;
    text/html                  epoch;
    text/css                   max;
    application/javascript     max;
    ~image/                    max;
}

server {

  {% for port in ports %}
  listen {{ port }} default_server;
  {% endfor %}

  {% for port in ports %}
  listen [::]:{{ port }} default_server;
  {% endfor %}
  server_name fermolaev.devops.rebrain.srwx.net ;

    # SSL Blok
    listen 443 ssl;

    # RSA certificate
    ssl_certificate /etc/nginx/ssl/fullchain_fermolaev.devops.rebrain.srwx.net; 
    ssl_certificate_key /etc/nginx/ssl/fermolaev.devops.rebrain.srwx.net.key;
}