<!DOCTYPE html>

<html lang="ru">
<head>

<meta charset="UTF-8">

<title> ДАнные ою используемом сервре </title>
</head>

<body>
<CENTER>
IP: {{ ansible_default_ipv4.address }}
Hostname: {{ ansible_hostname }}
OS: {{ ansible_os_family }}
</body>

</html>